# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [7]:
import numpy as np

2. Create a null vector of size 10

In [8]:
mylist = np.zeros(10)
mylist

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [9]:
mylist = np.arange(10,49)
mylist

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

4. Find the shape of previous array in question 3

In [10]:
mylist.shape

(39,)

5. Print the type of the previous array in question 3

In [11]:
mylist.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [12]:
print(f"Numpy Version : {np.__version__}")
print(np.show_config())

Numpy Version : 1.18.1
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/ProgramData/Anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\include', 'C:\\Program Files (x86)\\IntelSWTools\\compilers_and_libraries_2019.0.117\\windows\\mkl\\lib', 'C:/ProgramData/Anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [13]:
mylist.ndim

1

8. Create a boolean array with all the True values

In [14]:
myBoolList = np.ones(10,dtype=bool)
myBoolList

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

9. Create a two dimensional array

In [15]:
my2dList = np.array([[1,2,3,4,5,6], [11,22,33,44,55,66]])
my2dList

array([[ 1,  2,  3,  4,  5,  6],
       [11, 22, 33, 44, 55, 66]])

10. Create a three dimensional array

In [16]:
my3dList = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
my3dList

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [17]:
mylist = np.arange(10)
np.flipud(mylist)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [18]:
mylist = np.zeros(10)
mylist[4] = 1
mylist

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [19]:
mylist = np.arange(1,10).reshape(3,3)
mylist

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [20]:
arr = np.array([1,2,3,4,5])
#changing data type
arr = arr.astype("float32")
#printing array
arr

array([1., 2., 3., 4., 5.], dtype=float32)

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [21]:
arr1 = np.array([   [1., 2., 3.],
                    [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],
           [7., 2., 12.]])

arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [22]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])

arr3 = arr1==arr2
arr3

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [23]:
arr = np.arange(0,9)
odd_in_arr=arr[arr % 2 != 0]
odd_in_arr

array([1, 3, 5, 7])

18. Replace all odd numbers to -1 from previous array

In [24]:
arr[odd_in_arr] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [25]:
arr = np.arange(10)
arr[5:9] = 12

In [26]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [27]:
arr = np.ones((10,10))
arr[1:-1,1:-1]=0
arr

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [28]:
arr2d = np.array([  [1, 2, 3],
                    [4, 5, 6], 
                    [7, 8, 9]
                 ])
arr2d[1][1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [29]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0][0][:]=64
arr3d[0][1][:]=64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [30]:
arr2d=np.arange(0,9).reshape(3,3)
arr2d[0]

array([0, 1, 2])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [31]:
arr2d=np.arange(0,9).reshape(3,3)
arr2d[1:2,1:2]

array([[4]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [32]:
arr2d=np.arange(0,9).reshape(3,3)
arr2d[0:2,2:]

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [33]:
arr = np.random.randint(1000, size=100).reshape(10,10)
arr

array([[555, 701, 390, 768, 841, 268, 406, 850,  82, 777],
       [786, 990, 883, 268, 210, 320, 738, 583, 568, 512],
       [887, 494, 180, 551, 248,  42,  83, 527, 741, 654],
       [661, 909, 161, 494, 297, 374, 688,  96,  47, 189],
       [ 88, 715, 833, 180, 918, 167, 350, 795, 867, 199],
       [226, 113, 311, 831, 386, 967, 370, 849, 876, 737],
       [989, 138, 612, 764, 568, 284,  32, 687, 219, 437],
       [ 91, 730, 300, 818,  91, 228, 299, 701, 754,  74],
       [141, 897, 845, 554, 415,  76, 840, 356, 214, 852],
       [102, 603, 771, 273, 791, 823, 881, 923, 628, 797]])

In [34]:
np.amin(arr)

32

In [35]:
np.amax(arr)

990

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [36]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
common = np.intersect1d(a,b)
common

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [37]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
position = np.intersect1d(a,b, return_indices=True)
position

(array([2, 4]), array([1, 5], dtype=int64), array([1, 5], dtype=int64))

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [38]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names != "Will"]

array([[ 0.11041302,  0.92991273, -1.14659597, -0.11838807],
       [-0.76611106,  1.03795487,  0.09029985,  2.05252305],
       [-0.31913145, -1.32510269,  2.04868405, -0.12229252],
       [ 0.127771  ,  0.74192055,  1.58272832,  1.70238475],
       [-1.0816688 ,  0.71022952,  0.90601993, -1.0127677 ]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [39]:
data[names != "Will" or names != "Joe"]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [ ]:
d2=np.arange(1,16).reshape(5,3)
d2

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [ ]:
d3 = np.arange(1,17).reshape(2,2,4)
d3

33. Swap axes of the array you created in Question 32

In [ ]:
np.swapaxes(d3,0,1)

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [ ]:
ar=np.arange(1,11)
sqrt_ar=np.sqrt(ar)
sqrt_ar[sqrt_ar < 0.5] = 0
sqrt_ar

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [ ]:
rndarr1 = np.random.random(12)
rndarr2 = np.random.random(12)
print(rndarr1)
print(rndarr2)
newarr = np.array([np.amin(rndarr1),np.amax(rndarr2)])
print(newarr)

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [ ]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
a = np.array([i for i in a if i not in b])
a

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [ ]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])

sampleArray[:,2] = newColumn

sampleArray

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [ ]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

40. Generate a matrix of 20 random values and find its cumulative sum

In [ ]:
randArray = np.random.random(20)

np.cumsum(randArray)